article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-size: 100%;
  background: #fff;
  color: #111;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.5em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.8em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*

  Responsive Utilities

*/
img, canvas, iframe, video, svg {
  max-width: 100%; }

/* Wrap tables or pre elements in a div with this class */
.overflow-container {
  overflow-y: scroll; }

/* Prettier Links */
a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }

a:link {
  color: #0074D9; }

a:visited {
  color: #B10DC9; }

a:hover {
  color: #7FDBFF; }

a:active {
  color: #FF851B; }

/*

   SKINS
   • Backgrounds
   • Colors

*/
/* Backgrounds */
.bg-navy {
  background-color: #001F3F; }

.bg-blue {
  background-color: #0074D9; }

.bg-aqua {
  background-color: #7FDBFF; }

.bg-teal {
  background-color: #39CCCC; }

.bg-olive {
  background-color: #3D9970; }

.bg-green {
  background-color: #2ECC40; }

.bg-lime {
  background-color: #01FF70; }

.bg-yellow {
  background-color: #FFDC00; }

.bg-orange {
  background-color: #FF851B; }

.bg-red {
  background-color: #FF4136; }

.bg-fuchsia {
  background-color: #F012BE; }

.bg-purple {
  background-color: #B10DC9; }

.bg-maroon {
  background-color: #85144B; }

.bg-white {
  background-color: #fff; }

.bg-gray {
  background-color: #aaa; }

.bg-silver {
  background-color: #ddd; }

.bg-black {
  background-color: #111; }

/* Colors */
.navy {
  color: #001F3F; }

.blue {
  color: #0074D9; }

.aqua {
  color: #7FDBFF; }

.teal {
  color: #39CCCC; }

.olive {
  color: #3D9970; }

.green {
  color: #2ECC40; }

.lime {
  color: #01FF70; }

.yellow {
  color: #FFDC00; }

.orange {
  color: #FF851B; }

.red {
  color: #FF4136; }

.fuchsia {
  color: #F012BE; }

.purple {
  color: #B10DC9; }

.maroon {
  color: #85144B; }

.white {
  color: #fff; }

.silver {
  color: #ddd; }

.gray {
  color: #aaa; }

.black {
  color: #111; }

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

.row {
  margin-bottom: 20px; }

.container {
  /* Nested Column Classes */ }
  .container .one.column, .container .container .one-third.column, .container .container .one-third.column, .container .container .two-thirds.column, .container .container .two-thirds.column, .container .one.columns {
    width: 40px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .two.columns {
    width: 100px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .three.columns {
    width: 160px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .four.columns {
    width: 220px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .five.columns {
    width: 280px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .six.columns {
    width: 340px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .seven.columns {
    width: 400px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .eight.columns {
    width: 460px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .nine.columns {
    width: 520px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .ten.columns {
    width: 580px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .eleven.columns {
    width: 640px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .twelve.columns {
    width: 700px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .thirteen.columns {
    width: 760px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .fourteen.columns {
    width: 820px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .fifteen.columns {
    width: 880px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .sixteen.columns {
    width: 940px;
    float: left;
    display: inline;
    margin: 0 10px 20px 10px; }
  .container .one-third.column {
    width: 300px; }
  .container .two-thirds.column {
    width: 600px; }
  .container .offset-by-one {
    padding-left: 60px; }
  .container .offset-by-two {
    padding-left: 120px; }
  .container .offset-by-three {
    padding-left: 180px; }
  .container .offset-by-four {
    padding-left: 240px; }
  .container .offset-by-five {
    padding-left: 300px; }
  .container .offset-by-six {
    padding-left: 360px; }
  .container .offset-by-seven {
    padding-left: 420px; }
  .container .offset-by-eight {
    padding-left: 480px; }
  .container .offset-by-nine {
    padding-left: 540px; }
  .container .offset-by-ten {
    padding-left: 600px; }
  .container .offset-by-eleven {
    padding-left: 660px; }
  .container .offset-by-twelve {
    padding-left: 720px; }
  .container .offset-by-thirteen {
    padding-left: 780px; }
  .container .offset-by-fourteen {
    padding-left: 840px; }
  .container .offset-by-fifteen {
    padding-left: 900px; }
  .container .column.alpha, .container .columns.alpha {
    margin-left: 0; }
  .container .column.omega, .container .columns.omega {
    margin-right: 0; }

/* #Tablet (Portrait)
   ================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* Offsets */
  .container {
    width: 768px; }
  .container .column, .container .columns {
    margin-left: 10px;
    margin-right: 10px; }
  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px; }
  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px; }
  .alpha.omega {
    margin-left: 0;
    margin-right: 0; }
  .container .one.column, .container .container .one-third.column, .container .container .one-third.column, .container .container .two-thirds.column, .container .container .two-thirds.column, .container .one.columns {
    width: 28px; }
  .container .two.columns {
    width: 76px; }
  .container .three.columns {
    width: 124px; }
  .container .four.columns {
    width: 172px; }
  .container .five.columns {
    width: 220px; }
  .container .six.columns {
    width: 268px; }
  .container .seven.columns {
    width: 316px; }
  .container .eight.columns {
    width: 364px; }
  .container .nine.columns {
    width: 412px; }
  .container .ten.columns {
    width: 460px; }
  .container .eleven.columns {
    width: 508px; }
  .container .twelve.columns {
    width: 556px; }
  .container .thirteen.columns {
    width: 604px; }
  .container .fourteen.columns {
    width: 652px; }
  .container .fifteen.columns {
    width: 700px; }
  .container .sixteen.columns {
    width: 748px; }
  .container .one-third.column {
    width: 236px; }
  .container .two-thirds.column {
    width: 492px; }
  .container .offset-by-one {
    padding-left: 48px; }
  .container .offset-by-two {
    padding-left: 96px; }
  .container .offset-by-three {
    padding-left: 144px; }
  .container .offset-by-four {
    padding-left: 192px; }
  .container .offset-by-five {
    padding-left: 240px; }
  .container .offset-by-six {
    padding-left: 288px; }
  .container .offset-by-seven {
    padding-left: 336px; }
  .container .offset-by-eight {
    padding-left: 348px; }
  .container .offset-by-nine {
    padding-left: 432px; }
  .container .offset-by-ten {
    padding-left: 480px; }
  .container .offset-by-eleven {
    padding-left: 528px; }
  .container .offset-by-twelve {
    padding-left: 576px; }
  .container .offset-by-thirteen {
    padding-left: 624px; }
  .container .offset-by-fourteen {
    padding-left: 672px; }
  .container .offset-by-fifteen {
    padding-left: 720px; } }

/*  #Mobile (Portrait)
    ================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  /* Offsets */
  .container {
    width: 300px; }
  .container .columns, .container .column {
    margin: 0; }
  .container .one.column, .container .container .one-third.column, .container .container .one-third.column, .container .container .two-thirds.column, .container .container .two-thirds.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
    width: 300px; }
  .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen {
    padding-left: 0; } }

/* #Mobile (Landscape)
   ================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px; }
  .container .columns, .container .column {
    margin: 0; }
  .container .one.column, .container .container .one-third.column, .container .container .one-third.column, .container .container .two-thirds.column, .container .container .two-thirds.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
    width: 420px; } }

/* #Clearing
   ================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
   or wrap each row of columns in a <div class="row"> */
.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after, .clearfix:after {
  clear: both; }

.row, .clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

hr {
  border: 0;
  border-bottom: 3px solid #ddd; }

footer {
  color: #ddd;
  margin-top: 3em; }
/*# sourceMappingURL=o.css.map */