//
// SITE VARIABLES
//
// GRID VARIABLES
//
// Grid
// -------------------------------------------------- //

$grid-column-width    : 40px;
$grid-gutter-width    : 20px;
$grid-total-columns   : 16;
$grid-baseline-height : 20px;

$grid-offset          : ($grid-column-width + $grid-gutter-width);
$grid-width           : ($grid-offset * $grid-total-columns);


// Grid Utility
// -------------------------------------------------- //

$grid-background-column-width   : $grid-column-width;
$grid-background-gutter-width   : $grid-gutter-width;
$grid-background-total-columns  : $grid-total-columns;
$grid-background-baseline-height: $grid-baseline-height;

$grid-background-baseline-color : rgba(0,0,0,0.15);
$grid-background-column-color   : rgba(100, 100, 100, 0.05);

// COLOR VARIABLES
//
// - Cool
// - Warm
// - Gray Scale
//

// Cool

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;
