/* =============================================================================
   _variables.scss
   project x
   oliver pope
   ============================================================================= */

//
// SITE VARIABLES
//
// FOOTER VARIABLES
$footer_padding_top: .5em;
//
//
//
// NORMALIZE SETTINGS
//
//
//
// Set to true if you want to add support for IE6 and IE7
// Notice: setting to true might render some elements
// slightly differently than when set to false
$legacy_support_for_ie: true !default; // Used also in Compass


// Set the default font family here so you don't have to override it later
$normalized_font_family: sans-serif !default;

$normalize_headings: true !default;

$h1_font_size: 2em !default;
$h2_font_size: 1.5em !default;
$h3_font_size: 1.17em !default;
$h4_font_size: 1em !default;
$h5_font_size: 0.83em !default;
$h6_font_size: 0.75em !default;

$h1_margin: .50em 0 !default;
$h2_margin: .80em 0 !default;
$h3_margin: 1em 0 !default;
$h4_margin: 1.33em 0 !default;
$h5_margin: 1.67em 0 !default;
$h6_margin: 2.33em 0 !default;

$background: #fff !default;
$color: #111 !default;
//
//
// GRID VARIABLES
//
// Grid

$grid-column-width    : 40px;
$grid-gutter-width    : 20px;
$grid-total-columns   : 16;
$grid-baseline-height : 20px;

$grid-offset          : ($grid-column-width + $grid-gutter-width);
$grid-width           : ($grid-offset * $grid-total-columns);


// Grid Utility

$grid-background-column-width   : $grid-column-width;
$grid-background-gutter-width   : $grid-gutter-width;
$grid-background-total-columns  : $grid-total-columns;
$grid-background-baseline-height: $grid-baseline-height;

$grid-background-baseline-color : rgba(0,0,0,0.15);
$grid-background-column-color   : rgba(100, 100, 100, 0.05);

// COLOR VARIABLES
//
// - Cool
// - Warm
// - Gray Scale
//

// Cool

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;
